.single__page{
    margin: 3.5rem  10rem;
    /* border: 1px solid black; */
}
.single__page img{
    width: 40rem;
    height: 30rem;
    margin: 1.5rem;
    align-items: center;
    /* border: 1px solid gray; */
    object-fit: contain;
}

