/* Header Css */
.container__header{
    text-align: center;
    margin: 3rem 0 2rem;
}
.container__header p {
    display: inline-block;
    font-size: 2.5rem;
    font-weight: light;
    margin-right: 0.5rem;
    transform: rotate(-90deg);
}
.container__header h1{
    display: inline-block;
    font-weight: bolder;
    font-size: 3.5rem;
}
/** ========== Navbar Css */
.icon{
    display: none;
}
.nav {
    display: flex;position: sticky;top:0rem;
    z-index: 999;
}
.desktop__nav{
    width: 100vw;
    background-color: #D6E4E5;
}
.nav .desktop__nav > ul{
    display: flex;
    justify-content: space-around;
}
.desktop__nav > ul > li{
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
}
.desktop__nav > ul > li a:hover{
    color:rgb(233, 187, 72);
}

.nav ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}


