.card__Home > .card__image img{
    border-radius: 1rem;
}
.box2-container{
    margin: 1rem ;
    display: flex;
    column-gap: 2rem;
}
.rightbar2 {
  flex: 8;
  }
.sidebar2 {
  flex: 3;
}
/* Small Card */
.card__data {
    width: 100%;
    height: 10rem;
  }
  
  .card__data img {
    width: 10rem;
    height: 6rem;
    object-fit: cover;
  }
  .small {
    margin-left: 10px;
  }
  