@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 16px;
}
a {
  text-decoration: none;
  color: black;
}
/* Button Css */
.container__button button {
  background: none;
  border: none;
}
.mobile__nav {
  display: none;
}
/** ======== rightbar and sidebar css ========*/
.main {
  display: flex;
  flex-direction: column;
}
.main h1 {
  border-bottom: 1px solid gray;
  line-height: 5rem;
  text-transform: uppercase;
  padding-left: 2rem;
}
.main__container {
  display: flex;
  margin: 1rem;
  column-gap: 2rem;
}
.rightbar {
  flex: 9;
}
.sidebar {
  flex: 3;
}
/** ===== Card Css ==========*/
.card__container {
  display: flex;
  padding: 1rem;
}
.card__container img {
  width: 20rem;
  height: 15rem;
  object-fit: cover;
}
.bigcard__data {
  margin-left: 1.25rem;
}
.bigcard__data p {
  margin-top: 1rem;
  text-align: justify;
}
/** ======== advertisement =============*/
.advertisement {
  text-align: center;
  padding-top: 8rem;
  width: 12.5rem;
  font-weight: bolder;
}

/** =========  Home Css */
.Home {
  margin: 1rem;
}
.home__container {
  display: flex;
}

.home__first {
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  color: white;
  width: 60rem;
  height: 35rem;
  background: url("https://pullman.accor.com/destinations/country/thailand-1400x788-1.jpg");
  border-radius: 0.5rem;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
}
.home__first h1 {
  padding-top: 15rem;
  text-transform: uppercase;
  font-family: italic;
}
.home__sec {
  display: inline-block;
  width: 22rem;
  margin-left: 1rem;
}
.home__sec img {
  width: 100%;
  height: 18rem;
  border-radius: 0.9rem;
  object-fit: cover;
}
.home__thir {
  display: inline-block;
  width: 20rem;
  position: absolute;
  top: 34rem;
  right: 0;
}
.home__thir img {
  width: 100%;
  height: 15rem;
  border-radius: 0.9rem;
  object-fit: cover;
}
.middle {
  margin-top: 2rem;
}
.middle .box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.home__left {
  flex: 1 1 20rem;
  margin: 1rem;
  padding: 0.5rem;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.2);
  align-self: normal;
}
.home__left img {
  width: 100%;
  height: 14rem;
  object-fit: cover;
}
.home__bigcard__data {
  margin-top: 1rem;
}
.home__bigcard__data > h3 {
  font-size: 1.2rem;
}
.home__bigcard__data > p {
  font-size: 0.9rem;
  text-align: justify;
  margin-top: auto;
}

/**============ Footer  ================*/
footer {
  background-color: #d6e4e5;
}
footer h4 {
  text-align: center;
  padding: 2rem;
}
.footer-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/** ======== Small Card =========*/
.top {
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  text-transform: uppercase;
  text-align: center;
  line-height: 2.5rem;
  margin-bottom: 1rem;
}
.card__data {
  width: 100%;
  height: 10rem;
}
.card__data img {
  width: 10rem;
  height: 6rem;
  object-fit: cover;
}
.small {
  margin-left: 10px;
}

@media (max-width: 550px) {
  .nav {
    position: relative;
  }
  html {
    font-size: 10px;
  }
  .nav .mobile__nav {
    width: 70%;
    background-color: blanchedalmond;
  }
  .nav .mobile__nav ul {
    display: inline-block;
  }
  .nav .mobile__nav ul li {
    margin: 1rem 3rem;
  }
  /* Navigation bar */
  .desktop__nav {
    display: none;
  }
  .mobile__nav {
    display: block;
  }
  .toogle__button {
    position: absolute;
    top: 4rem;
    right: 1rem;
    background-color: transparent;
    border: none;
  }
  .icon {
    color: black;
    width: 3.125rem;
    display: block;
  }
  .card__container {
    flex-wrap: wrap;
  }
  /* Home css */
  .home__sec {
    display: none;
  }
  .home__thir {
    display: none;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}
